<a href="https://colab.research.google.com/github/DeftJackal/Midterm-Project/blob/main/Midterm-Project/Erika's%20Notebooks%20and%20DFs/Midterm_E_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# connect to a database using postgres
# host: mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com
# port: 5432
# user: lhl__student
# pwd: lhl__student
# database: mid_term_project

In [99]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import numpy as np
%matplotlib inline
import requests as re
from sqlalchemy import create_engine
import datetime

In [2]:

# Postgres username, password, and database name
POSTGRES_ADDRESS = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'lhl_student' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'lhl_student' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD 
POSTGRES_DBNAME = 'mid_term_project' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
              .format(username=POSTGRES_USERNAME,
               password=POSTGRES_PASSWORD,
               ipaddress=POSTGRES_ADDRESS,
               port=POSTGRES_PORT,
               dbname=POSTGRES_DBNAME))

In [3]:
# Create the connection
cnx = create_engine(postgres_str)

In [ ]:
flights = pd.read_sql_query('''SELECT * FROM flights LIMIT 5;''', cnx)

In [ ]:
flights.columns

In [ ]:
passengers = pd.read_sql_query('''SELECT * FROM passengers LIMIT 5;''', cnx)

In [ ]:
passengers

   departures_scheduled  departures_performed  ...  class  data_source
0                  31.0                  31.0  ...      F           DU
1                  31.0                  31.0  ...      F           DU
2                  31.0                  31.0  ...      F           DU
3                  31.0                  31.0  ...      F           DU
4                  31.0                  31.0  ...      F           DU

[5 rows x 38 columns]

In [ ]:
fuel_consumption = pd.read_sql_query('''SELECT * FROM fuel_comsumption LIMIT 5;''', cnx)

In [ ]:
fuel_consumption

   month  airline_id unique_carrier  ... tint_cost total_cost  year
0      1         NaN           None  ...       0.0     5100.0  2016
1      1     21352.0            0WQ  ...  140239.0   536455.0  2016
2      1     21645.0            23Q  ...       0.0        0.0  2016
3      1     21652.0            27Q  ...       0.0        0.0  2016
4      1     20408.0             5V  ...       0.0   569497.0  2016

[5 rows x 25 columns]

In [ ]:
flights_test = pd.read_sql_query('''SELECT * FROM flights_test LIMIT 5;''', cnx)

In [ ]:
flights_test

     fl_date mkt_unique_carrier  ... flights distance
0 2020-01-01                 WN  ...       1      363
1 2020-01-01                 WN  ...       1      363
2 2020-01-01                 WN  ...       1      333
3 2020-01-01                 WN  ...       1      333
4 2020-01-01                 WN  ...       1      333

[5 rows x 20 columns]

In [ ]:
# Inquiry #1, for flights in January is there a particular airline which has more delays?

In [ ]:
# Inquiry #2, flight flights in January, does origin city or destination city cause delays? Which causes more?

In [ ]:
# Steve January Search DataFrame below...

In [ ]:
# flights['fl_date'] = pd.to_datetime(flights['fl_date'], format='%Y-%m-%d')
# jan_arr_delay = flights[flights['fl_date'].dt.month == 1]
# jan_arr_delay['arr_delay'] = jan_arr_delay['arr_delay'].apply(lambda x: 0 if x < 0 else x)
# jan_arr_delay['arr_delay'].mean()

GET ATLANTA FLIGHTS JANUARY 2019

In [5]:
#Get the flights for all months all years
flights_jan = pd.read_sql_query('''SELECT * FROM flights WHERE origin_city_name = 'Atlanta, GA';''', cnx)

In [6]:
# Filter dataframe for January 2019
flights_jan['fl_date'] = pd.to_datetime(flights_jan['fl_date'], format='%Y-%m-%d')
flights_atlanta = flights_jan[flights_jan['fl_date'].dt.year == 2019]
flights_jan = flights_atlanta[flights_atlanta['fl_date'].dt.month == 1]

In [7]:
flights_jan.to_csv('ATL_Jan19_Full_DF.csv', index = False)

In [16]:
flights_jan.fl_date.unique()

array(['2019-01-01T00:00:00.000000000', '2019-01-02T00:00:00.000000000',
       '2019-01-03T00:00:00.000000000', '2019-01-04T00:00:00.000000000',
       '2019-01-05T00:00:00.000000000', '2019-01-06T00:00:00.000000000',
       '2019-01-07T00:00:00.000000000', '2019-01-08T00:00:00.000000000',
       '2019-01-09T00:00:00.000000000', '2019-01-10T00:00:00.000000000',
       '2019-01-11T00:00:00.000000000', '2019-01-12T00:00:00.000000000',
       '2019-01-13T00:00:00.000000000', '2019-01-14T00:00:00.000000000',
       '2019-01-15T00:00:00.000000000', '2019-01-16T00:00:00.000000000',
       '2019-01-17T00:00:00.000000000', '2019-01-18T00:00:00.000000000',
       '2019-01-19T00:00:00.000000000', '2019-01-20T00:00:00.000000000',
       '2019-01-21T00:00:00.000000000', '2019-01-22T00:00:00.000000000',
       '2019-01-23T00:00:00.000000000', '2019-01-24T00:00:00.000000000',
       '2019-01-25T00:00:00.000000000', '2019-01-26T00:00:00.000000000',
       '2019-01-27T00:00:00.000000000', '2019-01-29T00:00:00.000000000',
       '2019-01-28T00:00:00.000000000', '2019-01-31T00:00:00.000000000',
       '2019-01-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [18]:
flights_jan = flights_jan[['fl_date', 'dep_time', 'origin_city_name', 'dep_delay', 'weather_delay']]

In [19]:
flights_jan.to_csv('Jan2019_Atlanta_Flights.csv', index=False)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
/content/drive/MyDrive/Jan2019_Atlanta_Flights.csv

In [24]:
baslineDF_full = pd.read_csv('https://raw.githubusercontent.com/DeftJackal/Midterm-Project/main/LHL%20info/baselineDF_full.csv')

In [25]:
baslineDF_full.head()

   Unnamed: 0     fl_date  ... longest_add_gtime no_name
0          10  2018-12-01  ...               NaN     NaN
1          11  2018-12-01  ...               NaN     NaN
2          12  2018-12-01  ...               NaN     NaN
3          13  2018-12-01  ...               NaN     NaN
4          14  2018-12-01  ...               NaN     NaN

[5 rows x 43 columns]

In [11]:
baselineDF = pd.read_csv('https://raw.githubusercontent.com/DeftJackal/Midterm-Project/main/LHL%20info/baselineDF.csv')

In [9]:
baslineDF.head()

   Unnamed: 0  origin_airport_id  dest_airport_id  ...  month  day  weekday
0          10              14100            12889  ...     12    1        5
1          11              12889            14100  ...     12    1        5
2          12              10397            11697  ...     12    1        5
3          13              12892            10397  ...     12    1        5
4          14              10397            12892  ...     12    1        5

[5 rows x 38 columns]

GET CHICAGO FLIGHTS JANUARY 2018

In [4]:
# Do SQL query for all Chicago origin flights
Chicago_flights_jan = pd.read_sql_query('''SELECT * FROM flights WHERE origin_city_name = 'Chicago, IL';''', cnx)

In [8]:
# Filter dataframe down to January 2018
Chicago_flights_jan['fl_date'] = pd.to_datetime(Chicago_flights_jan['fl_date'], format='%Y-%m-%d')
Chicago_flights_jan = Chicago_flights_jan[(Chicago_flights_jan['fl_date'].dt.year == 2018) & (Chicago_flights_jan['fl_date'].dt.month == 1)]

In [13]:
# Save to CSV for security
Chicago_flights_jan.to_csv('/content/drive/MyDrive/Colab Notebooks/Chicago_flights_jan18.csv', index=False)

In [18]:
Chicago_flights_jan = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Chicago_flights_jan18.csv')

MAKE NEW "CHICAGO WEATHER REFERENCE" DF, CALL WORLD WEATHER ONLINE TO FILL IT

In [62]:
dates = Chicago_flights_jan['fl_date'].unique()

In [63]:
dates = pd.DataFrame(dates)
dates['hour 0'] = np.nan
dates['hour 300'] = np.nan
dates['hour 600'] = np.nan
dates['hour 900'] = np.nan
dates['hour 1200'] = np.nan
dates['hour 1500'] = np.nan
dates['hour 1800'] = np.nan
dates['hour 2100'] = np.nan
chicago_weather = dates

In [67]:
chicago_weather = chicago_weather.set_index(0)

In [70]:
chicago_weather.index.rename('fl_date', inplace = True)

In [78]:
chicago_weather.reset_index(inplace = True)

In [ ]:
chicago_weather.head()

In [80]:
# API calling function with parser
def get_weather(date, df):
  url = f'https://api.worldweatheronline.com/premium/v1/past-weather.ashx?q=Chicago, IL&date={date}&format=json&Key=644b7d0e28cb4ad3a64225414211001&cc=no'
  response = re.get(url)
  results = response.json()
  df.loc[df['fl_date'] == date, 'hour 0'] = results['data']['weather'][0]['hourly'][0]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 300'] = results['data']['weather'][0]['hourly'][1]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 600'] = results['data']['weather'][0]['hourly'][2]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 900']= results['data']['weather'][0]['hourly'][3]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 1200'] = results['data']['weather'][0]['hourly'][4]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 1500'] = results['data']['weather'][0]['hourly'][5]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 1800']= results['data']['weather'][0]['hourly'][6]['weatherDesc'][0]['value']
  df.loc[df['fl_date'] == date,  'hour 2100'] = results['data']['weather'][0]['hourly'][7]['weatherDesc'][0]['value']
  return df

In [ ]:
''' ONLY Run this block to call the Weather API on a dataframe'''
df = chicago_weather
for i in range(len(df)):
  date = df['fl_date'][i]
  get_weather(date, df)

In [100]:
# fix fl_date into datetime object
chicago_weather['fl_date'] = pd.to_datetime(chicago_weather['fl_date'], format = '%Y-%m-%d')

In [104]:
chicago_weather.head()

     fl_date         hour 0  ...      hour 1800      hour 2100
0 2018-01-01          Clear  ...  Partly cloudy  Partly cloudy
1 2018-01-02          Clear  ...          Clear          Clear
2 2018-01-03          Clear  ...       Overcast  Partly cloudy
3 2018-01-04  Partly cloudy  ...          Clear          Clear
4 2018-01-05          Clear  ...  Partly cloudy          Clear

[5 rows x 9 columns]

In [105]:
# Save to CSV for security
chicago_weather.to_csv('/content/drive/MyDrive/Colab Notebooks/chicago_weather.csv', index=False)

USE REFERENCE DF TO FILL MAIN FLIGHTS DATAFRAME

In [89]:
# make a column in Chicago_flights_jan to hold weather description
Chicago_flights_jan['weatherDesc'] = np.nan

In [101]:
# fix fl_date into datetime object
Chicago_flights_jan['fl_date'] = pd.to_datetime(Chicago_flights_jan['fl_date'], format = '%Y-%m-%d')

In [94]:
def get_desc(row):
    time = row['dep_time']
    if pd.isnull(time):
      return np.nan
    date = row['fl_date']
    bin = int(time//300)
    hour = bin*300
    if hour > 2100: 
      hour = 2100
    col_name = f'hour {hour}'
    return chicago_weather.loc[date, col_name]

In [102]:
Chicago_flights_jan.loc[:, 'weatherDesc'] = Chicago_flights_jan.apply(get_desc, axis = 1)

KeyError: ignored